.wrapper {max-width: 1000px; margin: 0 auto;}
.title-wrapper {padding: 50px 0 30px 0; text-align: center;}
.content-wrapper {border: 2px solid yellowgreen; padding: 50px;}

.box h3 {font-size: 48px;}

.box1 {border: 10px solid red; padding: 50px; background-color: blueviolet; color: #fff; display: inline-block; transition: all 1s; width: 70%;}
.box1:hover {background-color: chartreuse; width: 100%;}